{% extends "base.html" %}

{% block title %}
Iniciar sesión en Incidex
{% endblock %}

{% block content %}
    <h2>Iniciar sesión:</h2>

    {% if form.errors %}
        <p style="color: red;">Usuario o contraseña incorrectos.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>

    <h2>Información adicional sobre el inicio de sesión.</h2>
    <p>La aplicación se encuentra actualmente en pruebas. Los siguientes usuarios están confirmados y listos para acceder:</p>
    <ul>
        <li>Administrador % hcW8PHjWTTMPuq2</li>
        <li>Mario (Téc. Hardware) % PAZmuvF5wiHwk92</li>
        <li>Sergio (Téc. Software) % PAZmuvF5wiHwk92</li>
        <li>Álvaro (Usuario básico) % zCEzzDqhDYfR6r7</li>
    </ul>
{% endblock %}
